name: Deploy

on:
  workflow_run:
    workflows: ["CI main"]
    types:
      - completed

jobs:
  release:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
      with:
        clean: 'true'
        fetch-depth: 0
    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v0.9.7
      with:
        versionSpec: '5.x'
    - name: Determine Version
      id: gitversion
      uses: gittools/actions/gitversion/execute@v0.9.7
      with:
        useConfigFile: true
        configFilePath: ./.github/gitversion.yml
    - name: Prepare for release
      run:  |
        set -eo pipefail
        export LIB_VERSION=${{ steps.gitversion.outputs.SemVer }}
        pod spec lint --allow-warnings
        pod trunk push --allow-warnings
      env:
        COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOA_KEY }}
